.mainImg
{
    width: 70%;
    margin: 20px;
}

.descriptionDiv
{
    color: dimgray;
    font-size: 30px;
    text-align: left;
    margin: 20px;
}

.statsDiv
{
    text-align: left;
    color: dimgray;
    margin: 20px;
}