.mainImg
{
    width: 90%;
    margin: 20px;
}

.descriptionDiv
{
    width: 95%;
    color: dimgray;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}

.statsDiv
{
    width: 45%;
    text-align: left;
    font-size: 0.9em;
    color: dimgray;
    margin: 20px;
}

.buyButton
{
    margin: 20px;
    padding: 10px;
    width: 35%;
    font-size: 30px;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: white;
    color: dimgray;
}

.buyButton:hover
{
    background-color: lightgray;
    cursor: pointer;
}

/*Slider*/
#slider
{
    width: 1280px;
    height: 720px;
    margin: 50px auto;
    overflow: hidden;
}

#slider button
{
    position: absolute;
    vertical-align: middle;
    float: left;
    z-index: 1;
}

#line
{
    /*background-color: pink;*/
    width: 8960px;
    position: relative;
    left: 0;
    transition: all ease 1s; /**/
    
}

#line img
{
    float: left;
    width: 1280px;
    height: 720px;
}

#line::after
{
    content: "";
    display: block;
    clear: both;
}

#leftBSlider, #rightBSlider
{
    border: 0px solid black;
    background-color: rgba(0, 0, 0, 0);
    font-size: 80px;
}

*:focus { /*Hiding default borders*/
    outline: 0 !important;
}

/*Comments*/
.commentDiv
{
    width: 95%;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-size: 0.85em;
    margin: 20px;
}

.commentDiv img
{
    width: 100%;
}

.commentDiv:hover
{
    background-color: lightgray;
}

#leaveCommentDiv
{
    width: 95%;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-size: 0.85em;
    margin: 20px;
}

#leaveCommentDiv textarea
{
    width: 97%;
    margin: 20px;
}

#leaveCommentDiv button
{
    margin: 20px;
    padding: 5px;
    width: 15%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: white;
    color: dimgray;
}

#leaveCommentDiv button:hover
{
    background-color: lightgray;
    cursor: pointer;
}

#leaveCommentDiv input, #leaveCommentDiv textarea
{
    color: dimgray;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 20px;
}