.car-container
{
    width: 27%;
    height: 60vh;
    margin: 3%;
    border: 1px solid lightgray;
    border-radius: 2px;
    float: left;
    font-size: 20px;
    vertical-align: middle;
}

.catalog-car-info 
{
    border: 1px solid lightgray;
    border-radius: 2px;
    color: dimgray;
    background-color: white;
    width: 30%;
    height: 80%;
    position: fixed;
    right: 35%;
    top: 10%;
    transition: 1s ease;
    text-align: center;
     z-index: 2;
}


.catalog-car-info img
{
    width: 80%;
    position: relative;
    transition: 0.2s ease;
    top: 1%;
}

.catalog-car-info button
{
    width: 55%;
    height: 15%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: white;
    color: dimgray;
}

.car-container img
{
    width: 80%;
    position: relative;
    transition: 0.2s ease;
    top: 11%;
    z-index: 0;

}

.car-container button
{
    width: 60%;
    height: 20%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: white;
    color: dimgray;
    position: relative;

    bottom: -20%;
}


#moreButton
{
    width: 30%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: white;
    color: dimgray;
    bottom: -20%;
    margin-bottom: 20px;
}

.car-container button:hover, .catalog-car-info button:hover, #moreButton:hover
{
    background-color: lightgray;
    cursor: pointer;
}



.car-container img:hover
{
    width: 85%;    
}


/*Filters*/
#filtersDiv
{
    text-align: left;
    padding: 5px;
}

#filtersDiv input, #filtersDiv select, #filtersDiv option
{
    color: dimgray;
    border: 1px solid lightgray;
    border-radius: 2px;
}