*
{
    margin: 0;
}

/*Header*/
.header-table
{
    text-align: center;
    font-size: 25px;
    color: dimgray;
    height: 100vh;
}

.header-table a
{
    color: dimgray;
    transition: 0.25s;
    text-decoration: none;
}

.header-table a:hover
{
    font-size: 1.25em;
}

/*Body*/
.main-image
{
    width: 60%;
}

body
{
    //background-color: orange;
}

