*
{
    margin: 0;
}

/*Header*/
.header-table
{
    text-align: center;
    font-size: 25px;
    color: dimgray;
    height: 100vh;
}

/*Body*/
.main-image
{
    width: 60%;
}

body
{
    //background-color: orange;
}
